.hlavicka {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 900;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;  
    
    background-color: #999fa2;

    
}

body {
    padding: 0px;
    margin: 0px;
    
}

.body {
    background-color: #cbd1d3;
    margin: 0px;
    padding: 0px;
    display: flex;}



#logo{
    height: 85px;
}
#prihlasovanie{
    height: 45px; 
}


.hlavicka-prvok-1 {
    height: 85px;
    background-image: url(../img/logo.png); 
    background-repeat: no-repeat; 
    background-position: center;  
    background-size: contain;   
}

.hlavicka-prvok-4 {
    height: 45px;
    background-image: url(../img/prihlasovanie-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    bottom: 0px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;  
    font-weight: 900;
    
    background-color: #999fa2;

}




.zapasy {

    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 15vw;
    margin-top: 25px;
    font-size: large;
    margin-bottom: 25px;
    
}

.zapasy_nazov_sutaze{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    
}

.zapasy_nazov_sutaze_img img{
    height: 35px;
    margin-left: 10px;
}

.zapasy_nazov_sutaze_sutaz{
    display: flex;
    flex-direction: column;
    
    
}

.zapasy_nazov_sutaze_sutaz h3{
    margin: 0px;
}

.zapasy_nazov_sutaze_sutaz h5{
    margin: 0px;
}



.zapasy_hry_1 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;

}

.zapasy_hry_cas {
    margin-left: 10px;
    font-weight: 900;
    
}

.zapasy_hry_analyza a{
    text-decoration: none;
    color: black;
}
.zapasy_hry_games{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.zapasy_hry_games p{
    margin: -2px;
}

.zapasy_hry_logo{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.zapasy_hry_logo img {
    height: 15px;
}

.zapasy_hry_live img{
    height:25px;
}

.zapasy_hry_H2H{
    margin-left: auto;
    
}

.zapasy_hry_H2H a{
    text-decoration: none;
    color: black;
}





.h2h_cele {

    display: flex;
    font-size: 25px;
    width: 525px;
    

}

.telo_h2h_1{
    background-color: #cbd1d3;
}
.h2h_cele table{
    
    margin: 5px;
}
.h2h_cele table th{

    margin: 5px;
    text-align: left;
}

.nazov {
    padding-bottom: 15px;
}

.liga{
    
    padding-left: 25px;
    padding-right: 25px;
}

.vs {
    padding-left: 10px;
    padding-right: 10px;
}

.score {
    padding-left: 70px;
    font-weight: bold;
}

.status {
    padding-left: 15px;
}




.preview_1_b{
    background-color: #cbd1d3;
}
.preview_1_body{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    flex-direction: column;
}


.preview_1_odds {
    width: 100%;
    table-layout:  fixed;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #999fa2;
    margin-bottom: 15px;
    
    
}
.preview_1_odds th,
.preview_1_odds td {
    text-align: center;
    
}





.news-container {
    display: flex;         
    flex-wrap: wrap;       
    justify-content: center; 
    gap: 20px;              
    padding: 20px;
    
}


.news-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    flex: 1 0 300px; 
    
}

.news-item h2 {
    margin-top: 0;
}


.news-image-container {
    overflow: hidden;
    border-radius: 8px 8px 0 0;  
    margin-bottom: 15px;
    width: 100%; 
    height: 500px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    
}

.news-image-container img {
    width: 100%;  
    height: 100%; 
    object-fit: cover; 
    transition: transform 0.3s ease-in-out; 
}

.news-item:hover img {
    transform: scale(1.1); 
}




.news-filters {
    display: flex;
    justify-content: center;
    gap: 10px;  
    margin-bottom: 30px; 
    font-family: 'Arial', sans-serif; 
    margin-top: 20px;
}

.news-filters a {
    display: inline-block;  
    padding: 8px 16px;  
    text-decoration: none;
    background-color: #fff; 
    border: none;          
    color: #333;            
    border-radius: 20px;   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: all 0.2s ease-in-out; 
    font-weight: 600; 
    min-width: 120px; 
    text-align: center; 
}

.news-filters a:hover {
    background-color: #007bff; 
    color: white;              
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); 
}

.news-filters a.active { 
    background-color: #007bff; 
    color: white;              
}

.news-item-with-comments {
    display: flex;
    flex-direction: column; 
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 0 300px; 
}




























